<div class="container pad center" id="mapDiv">
  <button onclick="showMap()" class="btn waves-effect waves-light padlessbottom" id="mapbtn">View Map
    <i class="material-icons right">map</i>
  </button>
  <div id="map_div" class="mapstyle padlessbottom"></div>
</div>
<ul class="collection restaurants moveleft">
  {{#each businesses}}
  <li class="collection-item taller">
    <div class="padlessbottom">
      <a href={{this.url}} target="_blank" class="textteal"><span class="title">{{this.name}}</span></a>
      <a class="secondary-content favorite">
        <i storeinfo='{"rating":{{this.rating}},"price":"{{this.price}}","name":"{{this.name}}","link":"{{this.url}}"}'
          onclick="favoriter(this)" class="material-icons favorite" name="restaurant">star_border</i>
      </a>
    </div>
    <div class="addSpace">
      <ul class="resAtt">
        <li>Rating: {{this.rating}}/5</li>
        <li>Price: {{this.price}}</li>
      </ul>
      <ul class="resAtt">
        {{#if this.is_closed}}
        <li>Closed Now</li>
        <li>Distance: {{this.distance}} km</li>
        {{else}}
        <li>Open Now</li>
        <li>Distance: {{this.distance}} km</li>
        {{/if}}
      </ul>
      {{/each}}
    </div>
  </li>
</ul>